{
  "merchantStart" : {
    "default" : {
    	"default" : [
	      "Hey hey, fancy seein' ya here!",
	      "I got somethin' if y'want!!",
	      "What do ya want?"
      ]
    }
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
        "See ya later!",
        "Don't die out 'dere!",
        "Hope t'see ya again!",
        "Pleasure doing business with you!",
        "Thank ya for comin' by!",
        "Great to see ya!",
        "Here's to ya good fortune!"
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
	      "Yo, I got stuff for sale over here!",
	      "Come on in, I got some stuff that can help ya!"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
	      "Got some goods 'ere!",
	      "Hey ya, wanna check out some wares?",
	      "Best deals 'bout!",
	      "Cheap buys!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "Eh, did ya steal somethin' just now?",
        "Ah...? My store's stock suddenly got messed up...",
        "Alright, who keeps changin' my stock?"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "Uh.. Mind if y'fix the walls? This thing might collapse.",
        "Do ya mind if ya fix the wall please?",
        "Uh... I can't sell stuff while t'walls are like this, customer might get hurt."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "Eh?! I don't have enough room for another folk!!",
        "What's with t'other deed here???",
        "Uh, I can't fit another folk in here!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "Yikes, bad weather!!",
        "Aaaaaaaahhhhh!!",
        "Heck, there goes some ledgers!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "Nope, heck it, I'm out!!",
        "I'm outta here, goodbye folks!",
        "Screw it, gonna sell elsewhere!!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Eh, wazzup?",
        "Y'wanna get anything?",
        "Oh, yo!!"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Hey, y'can have this!",
        "I just wanna thank you for helpin' out, here ya go!",
        "Hope this'll help, and thanks 'gain!"
      ]
    }
  }
}
