{
	"merchantStart" : {
		"default" : {
			"default" : [
				"Welcome to my humble abode.",
				"Hm? Are you interested in my stock?",
				"What resources do you need? I may have them."
			]
		}
	},
	"merchantEnd" : {
		"default" : {
			"default" : [
				"Pleasure serving you.",
				"I will be here should you need to return.",
				"Thank you for your time.",
				"Your visit was nice. Thanks for coming.",
				"Thank you for visiting, friend.",
				"Let us do business again some time soon."
			]
		}
	},
	"follow" : {
		"default" : {
			"default" : [
				"Do you wish to trade? Please, follow me.",
				"I may have an item of interest. Follow me if you would like to see."
			]
		}
	},
	"tout" : {
		"default" : {
			"default" : [
				"Goods for sale! Please, come trade!",
				"Hey you, come check out my amazing wares!",
				"Would you be interested in my stock?",
				"Let's trade! I may have something you need."
			]
		}
	},
	"tagCriteria" : {
		"default" : {
			"default": [
				"Something has been altered. Has someone been here...?",
				"I hope someone hasn't been rummaging through my belongings...",
				"Something's not right."
			]
		}
	},
	"enclosedArea" : {
		"default" : {
			"default": [
				"Oh no! My home! It's been damaged. Please, help me repair this.",
				"Oh.. What happened here? I must get this fixed immediately.",
				"How did this happen!? ...Well, I suppose I should get the landlord to fix this."
			]
		}
	},
	"otherDeed" : {
		"default" : {
			"default": [
				"Who is this? I .. did not intend to have other people living with me.",
				"Why is there another person here? This is my home; I do not wish to share it!",
				"I don't want someone else here. Would you please move this other person out? ...It's nothing personal."
			]
		}
	},
	"severe" : {
		"default" : {
			"default": [
				"This home is all but a happy one. I may as well find another place to live.",
				"There's other homes out there better than this one. I cannot remain here for much longer!",
				"This home, it's horrible! Why have the conditions come to be this way?"
			]
		}
	},
	"final" : {
		"default" : {
			"default": [
				"That's it! I refuse to live in this decaying home for any longer!",
				"I cannot tolerate this anymore! Goodbye. ...I don't plan to return.",
				"Why must I be expected to tolerate this? I'm leaving!"
			]
		}
	},
	"beacon" : {
		"default" : {
			"default" : [
				"Yes?",
				"Is there something you wish to buy?",
				"Tell me, what is it that interests you?"
			]
		}
	},
	"rent" : {
		"default" : {
			"default" : [
				"Thank you again for housing me, feel free to take this.",
				"I thank you for providing a home. Perhaps I should return the favor.",
				"Here, have a gift as a symbol of my gratitude."
			]
		}
	}
}
