{
  "converse" : {
    "default" : {
      "default" : [
        "Ah, hello!",
        "Nice to meet you!",
        "I'm Kala, it's great to meet you.",
        "How are you?",
        "Oh, a traveller, welcome!",
        "Hello.",
        "I've never seen you here before, did you just arrive?",
        "Travelling seems quite fun."
      ],
      "apex" : [
        "Oh, hello. I met some mean Apex earlier, but you seem nice.",
        "I'm Kala, it's great to meet you.",
        "How are you?",
        "Oh, a traveller, welcome!",
        "Hello.",
        "I've never seen you here before, did you just arrive?",
        "Travelling seems quite fun.",
        "Just curious, what exactly is the Miniknog?"
      ],
      "avian" : [
        "Ah, hello! You remind me of another spirit I know of.",
        "I'm Kala, it's great to meet you.",
        "How are you?",
        "Oh, a traveller, welcome!",
        "Hello.",
        "I've never seen you here before, did you just arrive?",
        "Travelling seems quite fun.",
        "Someone has mentioned a Stargazer before, what do they do?"
      ],
      "glitch" : [
        "Oh, hello! I don't think I've seen a Glitch before..",
        "I'm Kala, it's great to meet you.",
        "How are you?",
        "Oh, a traveller, welcome!",
        "Hello.",
        "I've never seen you here before, did you just arrive?",
        "Travelling seems quite fun.",
        "Sorry if I seem weird, I just never seen someone like you before."
      ],
      "floran" : [
        "Oh, you look very interesting. Good to meet you.",
        "I'm Kala, it's great to meet you.",
        "How are you?",
        "Oh, a traveller, welcome!",
        "Hello.",
        "I've never seen you here before, did you just arrive?",
        "Travelling seems quite fun.",
        "Er... I like your smile.."
      ],
      "hylotl" : [
        "Nice to meet you. Do you have a water ability as well?",
        "Are you able to control water as well? Sorry, just curious."
      ],
      "novakid" : [
        "Ah, hello. I really like your sign.",
        "I'm Kala, it's great to meet you.",
        "How are you?",
        "Oh, a traveller, welcome!",
        "Hello.",
        "I've never seen you here before, did you just arrive?",
        "Travelling seems quite fun.",
        "Oh, you look cool. Nice to meet you!"
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "Did you just steal that?",
        "Um, that isn't yours.",
        "You should probably put that back.",
        "Do you think this is right?"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "Hello, someone?! This person has stolen something!",
        "Guards..! There's a thief about..!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Hm..? Something looks different here.",
        "Where did that thing go..?",
        "Was someone in here earlier?"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Is the place starting to be neglected?",
        "Do you mind if I ask for a repair?",
        "My house got destroyed.."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "Protector, do we need to talk?",
        "I didn't exactly consent to this.."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "Maybe I should think about moving...",
        "Goodness, why did I move here again?",
        "I think I might need to pack soon."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "I will be moving now, this place isn't exactly the best.",
        "I'm sorry, but I need to move from here, I'm not happy here."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Oh, hello! Did you want to chat?",
        "Did you need me?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's my rent for the month!",
        "Thank you for housing me, have this.",
        "I hope you like this."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Gah!",
        "!!!",
        "They returned!",
        "They're back!",
        "Alright, I won't let you harm anyone else!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "You won't harm anyone else!",
        "Hey!!",
        "Goodness, an attacker!",
        "I won't fall!",
        "A-alright, time to fight..!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "At least no one else will get hurt now.",
        "Phew...",
        "This place should be safe now.",
        "Seems like they're gone now."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Hm, they disappeared?",
        "Did they leave..?",
        "Phew, maybe I don't need to fight anymore."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Hm, they disappeared?",
        "Did they leave..?",
        "Phew, maybe I don't need to fight anymore."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "I can't reach them..",
        "Urg, they're too far..."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "You can do it..!",
        "I believe in you! You have this..!",
        "Y-you got this!!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "No weapons. Quite defenseless. Under attack!",
        "Not armed. Being attacked. Need help!",
        "Quite vulnerable. Under threat. Must flee!",
        "In danger. Being hurt. Must run!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "Oh no... Help, someone, please! There's an attack happening!",
        "Help, someone's getting attacked!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "You can do it..!",
        "I believe in you! You have this..!",
        "Y-you got this!!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Phew, it's over..",
        "Brr.. That was scary.",
        "Thank goodness... If you defeated something trying to hurt others, thank you!",
        "Goodness, my heart's still pounding..."
      ]
    }
  }
}