{
  "merchantStart" : {
    "default" : {
    	"default" : [
	      "Welcome to my humble abode.",
	      "Hm? Are you interested in my stock?",
	      "What do you require?"
      ]
    }
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
        "Pleasure serving you.",
        "I will be here.",
        "Thank you for your patronage.",
        "Your visit was most appreciated.",
        "Thank you for visiting.",
        "May your furture be bright.",
        "Let us do business again."
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
	      "I have stock if you wish for me to show you.",
	      "I may carry something of interest if you wish to see."
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
	      "Goods for sale!",
	      "Hey you, come check out my amazing wares!",
	      "Best deals around!",
	      "Cheap buys!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "Have you stolen something from my shop?",
        "Hm... Something is missing.",
        "Who tampered with my shop?"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "Mind if you fix the walls? The damage will drive away potiential customers.",
        "It may be best for the wall to be fixed soon, it is difficult to do service with that colndition.",
        "If you may, I require the walls to be fixed."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "I'm afraid I cannot work with another tenant in my shop.",
        "This may not be the best idea, there is no more room.",
        "Do I need to move elsewhere?"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "This weather is too harsh to sell in.",
        "These are unacceptable working conditions...",
        "I do not think I can work like this..."
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "I apologize, but I need to leave here.",
        "Perhaps there is better chances for me elsewhere.",
        "Goodbye, I am afraid I must bid farewell to you."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Yes?",
        "Is there something you wish to buy?",
        "What is it that you wish?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Thank you again for housing me, feel free to take this.",
        "I thank you, have a gift.",
        "Here, have a gift as a symbol of my gratitude."
      ]
    }
  }
}
